<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Fones de ouvido, Reciclagem, Fones com desconto, Meio ambiente, Melhor preço">
    <link rel="stylesheet" href="inicial.css">
    <script src="https://kit.fontawesome.com/77b5bf5e33.js" crossorigin="anonymous"></script>
    <title> Recycle Song</title>
</head>
<!--Feito por Saymon Gabriel
Abaixo é a estrutura dos botões-->
<body bgcolor="#69995D">
  <nav>
    <section id="logo">
      <img src="/Logo.jpg" alt="Logo da Empresa" width="150px">
      <article>
        <a href="cadastro.html" class="btn-entrar"><i class="fa-solid fa-podcast"></i> Entrar</a>
        <a href="cadastro.html" class="btn-cadastro"> <i class="fa-solid fa-clipboard-list"></i> Cadastro</a>
        <a href="#funcionamento" class="btn-valores"> <i class="fa-solid fa-recycle"></i> Nossos Valores</a>
        <a href="#Apresentação" class="btn-quemsomos"><i class="fa-solid fa-icons"></i> Quem Somos</a>
        <a href="Inicial.html" class="btn-home"> <i class="fa-solid fa-rectangle-list"></i> Página inicial</a>
      </article>
  </section>
  </nav>
  <!--Caixas de texto e o banner-->
  <section id="bem-vindo"><h1>Bem vindo(a) a Recycle Song!!!</h1></section>
  <section id="banner"> 
    <img src="/banner.png" alt="Banner de um artista fazendo música" width=100%>
  </section>
  <!-- Paginas da lateral direita e caixas de texto-->
  <aside>
    <section id="crit">
    <h1>Critérios para Desconto</h1>
    <ul>
      <li>A marca do produto</li>
      <li>O modelo</li>
      <li>E o estado do produto </li>
    </ul>
    <p>Aceitamos produtos danificados, mas com componentes
      em estado funcional, o desconto poderá ser maior.
    </p>
   </section>
   <section id="pesquisa">
    <h2>Ajude-nos a melhorar!</h2>
    <p>Caso queira, você pode estar respondendo nossa pesquisa de satisfação e dar a sua opinião, para
    que possamos estar melhorando nossos serviços.
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSf7yp8wbWckD10GBlWuQxLqyEprq8LrWznjq7GbVJWXxMtWXA/viewform?usp=sf_link" class="btn-pesquisa">Responder Pesquisa</a>
  </p>
  </section>
 </aside>
    <section id="Apresentação"> 
        <h2>O que é a Recycle Song?</h2>
        <p>Somos um site que visa a reciclagem de fones de ouvido, e como insentivo
          aos nossos clientes, oferecemos um desconto na compra de outro fone de ouvido, headsat ou microfone!
        </p>
    </section>
  <article>
    <section id="funcionamento">
        <h1>Funciona da seguinte maneira:</h1>
        <p>Você nos envia um formulario explicando a situação do fone danificado, com algumas imagens,
           e depois será gerado um enderço na qual você poderá estar enviando seu fone.
          <p> Nossos parceiros são: Sony, JBL, Amazon, Americanas, entre outros...</p>
   </section> 
    <section id="naosepreocupe">
          <h3>Não se preocupe!</h3> Será gerado uma nota fiscal, e depois de ser avaliado,
          seu desconto ja estará liberado!. A ultima etapa é enviar o fone pelos correios ou entregar
          no nosso endereço, mas o valor gasto com o transporte do produto sera ressarcido!
        </p>
        <p>Isso tudo sera explicado com mais detalhes após você fazer o cadastro!</p>
    </section> 
  </article>
  <!--Rodapé-->
  <footer>
    <article id="rodape">
      <p>Seja nosso parceiro!</p>
      <p>||</p>
      <p>Email - RecycleSong@outlook.com</p>
      <p>||</p>
      <p>Contato - (51) 99471-1865</p>
      <p>||</p>
      <p>CNPJ - XX.XXX.XXX/0001-XX</p>
    </article>
  </footer>
</body>
</html>