
/*Estilização e organização dos botões*/
/* Criei um "root" para facilitar se necessario a troca de cores dos botões*/
:root{
    --cor-de-fundo : #69995D; 
    --cor-fonte : #000000; 
    --cor-preenchimento : #F4E04D;
    --cor-borda : #000000; 
}

/* Aqui começa a estilização*/
.btn-home{
    background-color: var(--cor-de-fundo);
    color: var(--cor-fonte);
    float: right;
    padding: 25px 25px 25px 25px;
    margin: 30px 35px 10px 35px;
    text-decoration: none;
    border-radius: 10px;
    transition: .15s;
}
.btn-home:hover{  
    background-color: var(--cor-preenchimento);
    border: 2px solid var(--cor-borda);
    
}
.btn-valores{
    background-color: var(--cor-de-fundo);
    color: var(--cor-fonte);
    float: right;
    padding: 25px 25px 25px 25px;
    margin: 30px  35px 10px 35px;
    border-radius: 10px;
    text-decoration: none;
    transition: .15s;
    
}

.btn-valores:hover{
    background-color: var(--cor-preenchimento);
    border: 2px solid var(--cor-borda);
}


.btn-quemsomos{
    background-color: var(--cor-de-fundo);
    color: var(--cor-fonte);
    float: right;
    padding: 25px 25px 25px 25px;
    margin: 30px  35px 10px 35px;
    border-radius: 10px;
    text-decoration: none;
    transition: .15s;
}
.btn-quemsomos:hover{
    background-color: var(--cor-preenchimento);
    border: 2px solid var(--cor-borda);
}

.btn-entrar{
    background-color: var(--cor-de-fundo);
    color: var(--cor-fonte);
    float: right;
    padding: 25px 25px 25px 25px;
    margin: 30px 35px 10px 35px;
    border-radius: 10px;
    text-decoration: none;
    transition: .15s;
}
.btn-entrar:hover{
    background-color: var(--cor-preenchimento);
    border: 2px solid var(--cor-borda);
}

.btn-cadastro{
    background-color: var(--cor-de-fundo);
    color: var(--cor-fonte);
    float: right;
    padding: 25px 25px 25px 25px;
    margin: 30px 35px 10px 35px;
    border-radius: 10px;
    text-decoration: none;
    transition: .15s;
}
.btn-cadastro:hover{
    background-color: var(--cor-preenchimento);
    border: 2px solid var(--cor-borda);
}
/* Aqui concluimos a estilização dos botões*/

section#logo{
    position: sticky;
    border-radius: 15px;
    background-color:#17301C; 
    display: flex;
    justify-content: space-between;
}

section#banner{
   margin: 50px 0px 0px 0px;
}
section#bem-vindo{
    font-family: 'Gill Sans';
    text-align: center;
    font-size: 35px;
    color:#080808;
}